@font-face {
    font-family: Century Gothic; /* Имя шрифта */
    src: url(../fonts/Century Gothic.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
    font-family: Montserrat SemiBold; /* Имя шрифта */
    src: url(../fonts/Montserrat-SemiBold.otf); /* Путь к файлу со шрифтом */
 }

body {
    max-width: 2551px; /* Максимальная ширина страницы в пикселях */
    margin: auto;
    font-family: Century Gothic;
    padding: 0, 100px;
}

.name{
	font-size: 83px;
	font-weight:normal;
	color: #424243;
	margin-bottom:0px;
	margin-top: 214px;
}

.position{
	font-size: 56px;
	font-weight:normal;
	color: #424243;
	margin-top: 0px; 
}

.column-left__profile-photo{
	width: 779px;
	margin: 72px 109px 0px 0px; 
}

.contact-information{
	color: #9c9da0;
	margin-bottom: 120px;
	font-size: 33px;
}

.column-left{
	display: inline-block;
	width: 779px;
	vertical-align:top;
	margin-right: 100px;
}

.column-right{
	display: inline-block;
	width: 1646px;
	vertical-align:top;
}

.block-title{
	text-align: center;
	background-color: #F2CF00;
	display: inline-block;
	font-size: 34px;
	/*font-weight: bold;*/
	font-family: Montserrat SemiBold;
	margin-top: 65px;
	margin-bottom: 20px;
	padding: 18px 48px 22px 48px;
}

.text{
	font-size: 36px;
	color: #424243;
	margin-bottom: 10px;
	line-height: 62px;
	text-align: justify;
	box-sizing:border-box;
	text-align:top;
}

.column-right__education-years{
	vertical-align: top;
	font-weight: bold;
	color: #9c9da0;
	display: inline-block;
	width: 16%;
}

.column-right__work-years{
	color: #9c9da0;
	font-style: oblique;
}

.column-right__description{
	color: #9c9da0;
	font-size: 34px; 
	margin-bottom: 0px;
}
.column-right__place-of-education{
	display: inline-block;
	width: 83%;
}

.end-border{
	background-color: #e8c734;
	height: 50px;
	border-width:0px;
	width: 2680px;
	margin-left: -100px;
}

.bold-text{
	font-weight: bold;
}

.column-left__progress-bar{
	background-color: white;
	height: 18px;
	width: 620px;
	border: 1px solid grey;
	
}

.column-left__progress-bar_inside{
	background-color: grey;
	height: 16px;
}

.column-left__progress-bar_communications{
	width: 80%;
}

.column-left__progress-bar_teamwork{
	width: 70%;
}

.column-left__progress-bar_organization{
	width: 80%;
}

.column-left__progress-bar_attentive{
	width: 70%;
}

.column-left__progress-bar_photoshop{
	width: 30%;
}

.column-left__progress-bar_coding-css{
	width: 60%;
}

.column-left__progress-bar_idea{
	width: 60%;
}

.column-right__reference{
	display: inline-block;
	width: 49.7%;
}